<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include nav %>
    <h1><%= title %></h1>
    <h2><%= blogs[0].blogTitle %></h2>
    <p><%= blogs[0].blogText %></p>
    <h3><%= blogs[0].createdOn %></h3>
    <a href="/blogedit">Edit Blog</a>
    <a href="/blogdelete">Delete Blog</a>
    <h2><%= blogs[1].blogTitle %></h2>
    <p><%= blogs[1].blogText %></p>
    <h3><%= blogs[1].createdOn %></h3>
    <a href="/blogedit">Edit Blog</a>
    <a href="/blogdelete">Delete Blog</a>
    <h2><%= blogs[2].blogTitle %></h2>
    <p><%= blogs[2].blogText %></p>
    <h3><%= blogs[2].createdOn %></h3>
    <a href="/blogedit">Edit Blog</a>
    <a href="/blogdelete">Delete Blog</a>
  </body>
</html>
